<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RedactedDemoManeger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RedactedDemoManeger.Properties.Settings>
            <setting name="RedRoot" serializeAs="String">
                <value>undefined</value>
            </setting>
            <setting name="ResRoot" serializeAs="String">
                <value>undefined</value>
            </setting>
        </RedactedDemoManeger.Properties.Settings>
    </userSettings>
</configuration>